<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GreenleafNetworkBaltimore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Leaf Track (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Leaf Track.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LeafTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E16858A1EB3FADB0095C643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E16859E1EB3FADB0095C643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E1685A91EB3FADB0095C643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E66509C1EB5231B006D9F36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECD62A61EB6274E005738CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECD62B61EB6274F005738CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECD62C11EB6274F005738CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ED0180C1EB4E6BD0012F422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ED0181C1EB4E6BD0012F422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ED018271EB4E6BE0012F422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
